APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000
APP_CORS_ORIGINS=http://localhost:3000,http://localhost:5173

DB_HOST=MSI\CLCCSDLPTNHOM4
DB_PORT=1433
DB_NAME=HumanManagement
DB_USER=MSI\VIET DUNG
DB_PASSWORD=
DB_DRIVER=ODBC Driver 18 for SQL Server
DB_ENCRYPT=no
DB_TRUST_SERVER_CERT=yes
DB_CONNECT_TIMEOUT=5


